<!DOCTYPE html>
<html>
<meta charset="utf-8"/>
<head th:include="include :: header"></head>
<body class="gray-bg">
<script>
function reloadPage(){
  location.reload()
}
</script>
	<div class="wrapper wrapper-content animated fadeInRight">
		<div style="float: right;">
		    <button class="btn btn-info btn-sm" onclick="reloadPage()"><span class="glyphicon glyphicon-refresh" ></span>
	        </button>
        </div>
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox-content">
					<form class="form-horizontal m-t" id="signupForm">
						<input id="adminId" name="adminId" th:value="${admin.adminId}"
							type="hidden"/>
						<div class="form-group">
							<label class="col-sm-4 control-label">账户：</label>
							<div class="col-sm-5">
								<input id="adminUsername" name="adminUsername" class="form-control" type="text" 
									th:value="${admin.adminUsername}" />
							</div>
						</div>
						<input type="hidden" name="roleIds" id="roleIds"
							th:value="${roleIds}"/>
						<div class="form-group">
							<label class="col-sm-4 control-label">角色：</label>
							<div class="col-sm-5">
								<label th:each="role:${roles}" class="checkbox-inline">
									<input name="role" type="checkbox" th:value="${role.roleId}"
									th:text="${role.roleName}" th:checked="${role.roleSign}"/>
								</label>
							</div>
						</div> 
						<div class="form-group">
							<div class="col-sm-9 col-sm-offset-6">
								<button type="submit" class="btn btn-primary">提交</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/sys/admin/edit.js">
	</script>
</body>
</html>
