<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8"/>
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
	       <div class="col-sm-12 col-sm-offset-3">
		    <form class="bs-example bs-example-form" role="form" >
				          <div class="form-group col-sm-2">
			        		  <div class="input-group">
						            <span class="input-group-addon">查询条数</span>
						            <input id="limit" type="text" class="form-control" name="limit" width=""
									placeholder="请输入查询条数"/>
			      			  </div>
		      			  </div>
		    </form>
		    
		    <strong>日期范围:</strong> 
		    <input type="text"
				onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'endDate\')||\'%y-%M-%d\'}' })"
				id="startDate" name="startDate" class="input-text Wdate"
				style="width: 8%;"> 
			-- 
			<input type="text"
				onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'startDate\')}',maxDate:'%y-%M-%d' })"
				id="endDate" name="endDate" class="input-text Wdate"
				style="width: 8%;">
		    <button class="btn btn-success" type="button" id="query" onclick="reLoad()">查询</button>
		    <button  id="refresh" type="button" class="btn btn-warning "
				onclick="reset()">
				<i class="fa fa-refresh" aria-hidden="true"></i>重置
			</button>
		</div>
	    <div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div id="exampleToolbar" role="group">
					</div>
						<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
		<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="back:sellWell:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript"
		src="/js/goods/sellwell/list.js"></script>
</body>
</html>