<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" href="/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css"
	href="/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css"
	href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css"
	href="/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/h-ui.admin/css/style.css" />
<link rel="stylesheet" type="text/css"
	href="/lib/laypage/1.3/skin/laypage.css" />
<title>运单管理</title>
</head>
<body>

	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>
		运单管理 <span class="c-gray en">&gt;</span> 运单管理 <a
			class="btn btn-success radius r"
			style="line-height: 1.6em; margin-top: 3px"
			href="javascript:location.replace(location.href);" title="刷新"><i
			class="Hui-iconfont">&#xe68f;</i></a>
	</nav>

	<div class="text-c">
		<strong>运单编号: </strong><input type="text" id="express_no"
			style="width: 6%" class="input-text"> <strong>订单编号:
		</strong><input type="text" id="express_ono" style="width: 6%"
			class="input-text"> <strong>日期范围: </strong> <input
			type="text"
			onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'end_date\')||\'%y-%M-%d\'}' })"
			id="start_date" class="input-text Wdate" style="width: 120px;">
		&nbsp;&nbsp;--&nbsp;&nbsp; <input type="text"
			onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'start_date\')}',maxDate:'%y-%M-%d' })"
			id="end_date" class="input-text Wdate" style="width: 120px;">
		<button class="btn btn-success radius" type="button" onclick="page()"
			style="margin-left: 10px">
			<i class="Hui-iconfont">&#xe665;</i> 条件查询
		</button>
		<button class="btn btn-sm btn-warning radius" onclick="reset();">
			<i class="Hui-iconfont">&#xe66b;</i>重置
		</button>
	</div>

	<div class="cl pd-5 bg-1 bk-gray mt-5">
		<span class="l"> <a href="javascript:;"
			onclick="express_add('新建运单','/back/express/toAdd.html','800','500')"
			class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>
				新建运单 </a></span>
	</div>

	<div class="mt-10">
		<table
			class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-c">
					<th>序号</th>
					<th>运单编号</th>
					<th>订单编号</th>
					<th>快递公司</th>
					<th>发货时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody id="datashow"></tbody>
		</table>
	</div>

	<div id="page" class="text-c"></div>

	<!--_footer 作为公共模版分离出去-->
	<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
	<script type="text/javascript" src="/h-ui/js/H-ui.min.js"></script>
	<script type="text/javascript" src="/h-ui.admin/js/H-ui.admin.js"></script>

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript"
		src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
	<script type="text/javascript" src="/lib/laypage/1.3/laypage.js"></script>
	<script src="/js/3rd/template-web.js" charset="utf-8"></script>
	<script src="/js/3rd/axios.min.js" charset="utf-8"></script>
	<script src="/js/express/list.js" charset="utf-8"></script>
	<script src="/js/util/reset.js" charset="utf-8"></script>
	<script id="expresssTable-Template" type="text/html">
		{{each expresss express index}}
			<tr class="text-c">
				<td>{{index + 1}}</td>
				<td>{{express.storeExpressNo}}</td>
				<td>{{express.storeExpressOno}}</td>
				<td>{{express.storeExpressType}}</td>
				<td>{{express.storeExpressTime}}</td>
				<td class="f-14 td-manage">
 					<a title="编辑" href="javascript:;" onclick="express_edit('编辑','/back/express/toEdit.html?storeExpressNo={{express.storeExpressNo}}','800','500')" class="ml-5" style="text-decoration:none">
						<i class="Hui-iconfont">&#xe6df;</i>
					</a> 
					<a title="删除" href="javascript:;" onclick="express_del(this,{{express.storeExpressNo}})" class="ml-5" style="text-decoration:none">
						<i class="Hui-iconfont">&#xe6e2;</i>
					</a>
				</td>
			</tr>
		{{/each}}
	</script>

</body>
</html>