<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8"/>
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
	       <div class="col-sm-12 col-sm-offset-2">
		    <form class="bs-example bs-example-form" role="form" >
		          <div class="form-group col-sm-2">
	        		  <div class="input-group">
				            <span class="input-group-addon">商品标题</span>
				            <input id="goodsTitle" type="text" class="form-control" name="goodsTitle" width=""
							placeholder="请输入商品标题"/>
	      			  </div>
      			  </div>
		          <div class="form-group col-sm-2">
	        		  <div class="input-group">
				            <span class="input-group-addon">商品类型:</span>
				             <select    id="goodsType" name="goodsType"  class="selectpicker show-tick form-control" data-style="btn-info"  title="请选择一项" data-live-search="true" style="color: blue;">
                                    
                              </select>
	      			  </div>
      			  </div>
		    </form>
		    
		    <strong>&nbsp;&nbsp;&nbsp;&nbsp;日期范围:</strong> 
		    <input type="text"
				onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'endDate\')||\'%y-%M-%d\'}' })"
				id="startDate" name="startDate" class="input-text Wdate"
				style="width: 8%;"> 
			-- 
			<input type="text"
				onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'startDate\')}',maxDate:'%y-%M-%d' })"
				id="endDate" name="endDate" class="input-text Wdate"
				style="width: 8%;">
		    <button class="btn btn-success" type="button" onclick="reLoad()">查询</button>
		    <button  type="button" class="btn btn-warning "
				onclick="reset()">
				<i class="fa fa-refresh" aria-hidden="true"></i>重置
			</button>
		</div>
	
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
						<div id="exampleToolbar" role="group">
				    	<button shiro:hasPermission="back:api:recommend:batchRemove" type="button" class="btn  btn-danger"
									onclick="batchRemove()">
									<i class="fa fa-trash" aria-hidden="true"></i>删除
						</button>
						</div>
						<table id="exampleTable" data-mobile-responsive="true">
						</table>
						
				</div>
			</div>
		</div>
		<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="back:recommend:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="back:api:recommend:delete">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript"
		src="/js/goods/recommend/list.js"></script>
</body>
</html>