<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>欢迎页</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body style="background: url('/img/brief.jpg');background-size: 100% 100%;background-repeat: no-repeat;">
	<div class="" >
		<div class="panel-heading" style="color:white;font-size:18px"><strong>关于菜多多</strong></div>
		<div style="padding: 10px 0 20px 10px;">
			<h3 style="color:orange">&nbsp;&nbsp;&nbsp;公司介绍</h3>
			<ul>
				<li style="color:white;font-size:14px;">菜多多科技发展有限公司（以下简称菜多多）是一家服务优越、价格合理、发展较快的专业配送公司。菜多多是集蔬菜、瓜果、鲜肉、冷冻食品、副食品、海鲜、鱼类、调味品、米、面、粮、油等为一体的现代化公司。</li>
				<li style="color:white;font-size:14px;">真诚为周市机关、企业、学校、工厂的食堂提供方便快捷、优质的一站式配送服务、节能灶台租赁、节能灶台销售。公司严把质量关，为了客户放心食用，建立物联网平台，建立国内首家水触媒净菜机租赁平台，为客户解决蔬菜农药残留以及激素残留问题，保证食品安全，加强售后服务工作。在有极具竞争力价格的同时，一直保持我们高品质的服务。</li>
			</ul>
			<h3 style="color:orange">&nbsp;&nbsp;&nbsp;官方QQ群</h3>
			<ul>
				<li style="color:white;font-size:14px;">614042105</li>
			</ul>
		</div>
	</div>
</body>
</html>